<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appnhac">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNhac">
        <activity android:name=".Activity.Activity_PlaylistYeuThich" />
        <activity android:name=".Activity.Activity_AlbumYeuThich" />
        <activity android:name=".Activity.Activity_dsBaiHatYeuThich" />
        <activity android:name=".Activity.Activity_dsBaiHat_DaTaiXuong" />
        <activity android:name=".Activity.Activity_PlayListHot" />
        <activity android:name=".Activity.Activity_AlbumMoi" />
        <activity android:name=".Activity.Activity_AllTheLoai" />
        <activity android:name=".Activity.Activity_Top100" />
        <activity android:name=".Activity.Activity_dsBaiHat_tu_TheLoai" />
        <activity android:name=".Activity.Activity_dsTheLoai" />
        <activity android:name=".Activity.Activity_dsBaiHat_tuAlbum" />
        <activity android:name=".Activity.Activity_PlayMusic" />
        <activity android:name=".Activity.Activity_dsBaiHat_tuPlaylist" />
        <activity android:name=".Activity.Activity_DsChuDe" />
        <activity android:name=".Activity.Activity_dsAlbum" />
        <activity android:name=".Activity.Activity_dsPlaylist" />
        <activity android:name=".Activity.Activity_dsBaiHat_tuQC" />
        <activity android:name=".Activity.MainActivity"/>


        <activity
            android:name=".Activity.Activity_RunApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>